<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <h1>TARA statistika</h1>

    <% if (connectionOK) { %>
      <p class='info'>Ühendus logibaasiga OK</p>
    <% } else { %>  
      <p class='viga'>ERR-01: Logibaasiga ühendumine ebaõnnestus</p>
    <% } %>

    <p>Vaata statistikat:
      <a href='/stat'>
        <i class="ikoon material-icons">show_chart</i>
      </a>
    </p>

    </body>

</html>