<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <script src='js/alusta.js'></script>
</head>

<body onload="alusta();">

  <h1>TARA statistika</h1>

  <!-- Valimisriba-->
  <div id='valimisriba'>
    <div class='valikukast'>
      Üldstatistika
      <br>
      <div id='yldstatistikaNupp' class='nupp' title='Üldstatistika'>
        <i class='ikoon material-icons'>view_headline</i>
      </div>
    </div>
    <div class='valikukast'>
      Detailne statistika
      <br>
      <div id='detailstatistikaNupp' class='nupp' title='Detailne statistika'>
        <i class='ikoon material-icons'>line_style</i>
      </div>
    </div>
    <div class='valikukast'>
      Kustuta
      <br>
      <div id='kustutaNupp' class='nupp' title='Kustuta logikirjeid'>
        <i class='ikoon material-icons'>delete_forever</i>
      </div>
    </div>
    <div class='valikukast'>
      Abi
      <br>
      <div id='abiNupp' class='nupp' title='Abi'>
        <i class='ikoon material-icons'>help</i>
      </div>
    </div>
  </div>

  <!-- Teateriba -->
  <div id='teateriba' class='peidetud'>
    <div id='teade' class='info inline'></div>

    <div id='kinnitusNupp' class='nupp inline peidetud' title='Kinnita'>
      <i class='ikoon material-icons'>check_circle_outline</i>
    </div>
    <div id='tyhistusNupp' class='nupp inline peidetud' title='Tühista'>
      <i class='ikoon material-icons hoiatav'>clear</i>
    </div>
    <div id='suleTeadeNupp' class='nupp inline peidetud' title='Sule teade'>
      <i class='ikoon material-icons'>clear</i>
    </div>

  </div>

  <!-- Üldstatistika ala -->
  <div id='yldstatistikaala' class='peidetud'>
    <div id='yldstatriba'>
      <div class='vordnekeskjoondatud'>
        Edukaid autentimisi täna:
        <br>
        <span id='edukaidTana'></span>
      </div>
      <div class='vordnekeskjoondatud'>
        käesoleval kuul:
        <br>
        <span id='edukaidKuul'></span>
      </div>
      <div class='vordnekeskjoondatud'>
        Kirjeid logibaasis:
        <br>
        <span id='kirjeidLogibaasis'></span>
      </div>
      <div class='vordnekeskjoondatud'>
        Logi peetud alates:
        <br>
        <span id='logiAlates'></span>
      </div>
      <div class='vordnekeskjoondatud'>
        <div id='uuendaNupp' class='nupp inline' title='Uuenda'>
          <i class='ikoon material-icons'>autorenew</i>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailstatistika ala -->
  <div id='detailstatistikaala' class='peidetud'>
    <div id='detstatohje' style='display: flex; justify-content: space-between;'>
      <label class='active'>
        Sisesta valikumuster (nt
        <code>2018-04</code>) :
        <input id='perioodiMuster' type='text' style='margin: 0 2rem;' autocomplete='off'>
      </label>
      <div id='sooritaNupp' class='nupp' title='Arvuta statistika'>
        <i class='ikoon material-icons'>search</i>
      </div>
    </div>

    <p id='AutentimisteArv'></p>
    <p id='Tulem'></p>
  </div>

  <!-- Kustuta ala -->
  <div id='kustutaala' class='peidetud'>
    <div id='kustutaohje' style='display: flex;'>
      <label class='active'>
        Sisesta valikumuster (nt
        <code>2018-04</code>) :
        <input id='perioodiMuster' type='text' style='margin: 0 2rem;' autocomplete='off'>
      </label>
      <div id='kustutaNupp' class='nupp' title='Kustuta logikirjeid'>
        <i class='ikoon material-icons'>delete_forever</i>
      </div>
    </div>
  </div>

  <!-- Abi ala -->
  <div id='abiala' class='peidetud'>

    <p>
      Kasutusstatistika väljastatakse klientrakenduste, autentimismeetodite ja toimingu edukuse (alustatud, edukas, viga) lõikes.
    </p>

    <p>
      Otsingut saab piirata aasta, kuu, päeva või isegi väiksema ajaühikuga.
    </p>

    <p>Nt
      <code>2018-08-21T17:14</code> piirab otsingu 21.08.2018 17. tunni 14. minuti sees logitud sündmustega.
    </p>

    <p>Logibaasist saab kirjeid kustutada. Selleks sisesta kustutatavat perioodi määrav valikumuster ja vakuta 'Kustuta logikirjeid'.</p>

    <div id='sulgeAbiteaveNupp' class='nupp' title='Sulge abiteave'>
      <i class='ikoon material-icons'>clear</i>
    </div>
  </div>

</body>

</html>