<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <script src='js/alusta.js'></script>
</head>

<body onload="alusta();">

  <h1>TARA statistika</h1>

  <!-- Valimisriba-->
  <div id='valimisriba'>
    <div id='v1' class='valikukast valitud'>
      Üldstatistika
      <br>
      <div id='v1Nupp' class='nupp' title='Üldstatistika'>
        <i class='ikoon material-icons'>view_headline</i>
      </div>
    </div>
    <div id='v2' class='valikukast'>
      Detailne statistika
      <br>
      <div id='v2Nupp' class='nupp' title='Detailne statistika'>
        <i class='ikoon material-icons'>line_style</i>
      </div>
    </div>
    <div id='v3' class='valikukast'>
      Kustuta
      <br>
      <div id='v3Nupp' class='nupp' title='Kustuta logikirjeid'>
        <i class='ikoon material-icons'>delete_forever</i>
      </div>
    </div>
    <div id='v4' class='valikukast'>
      Abi
      <br>
      <div id='v4Nupp' class='nupp' title='Abi'>
        <i class='ikoon material-icons'>help</i>
      </div>
    </div>
  </div>

  <!-- Teateriba -->
  <div id='teateriba' class='peidetud'>
    <div id='teade' class='info inline'></div>

    <div id='suleTeadeNupp' class='nupp inline peidetud' title='Sule teade'>
      <i class='ikoon material-icons'>clear</i>
    </div>

  </div>

  <!-- Üldstatistika ala -->
  <div id='yldstatistikaala'>
    <div id='yldstatriba'>
      <div class='vkj'>
        edukaid autentimisi täna:
        <br>
        <span id='edukaidTana'></span>
      </div>
      <div class='vkj'>
        käesoleval kuul:
        <br>
        <span id='edukaidKuul'></span>
      </div>
      <div class='vkj'>
        kirjeid logibaasis:
        <br>
        <span id='kirjeidLogibaasis'></span>
      </div>
      <div class='vkj'>
        logi peetud alates:
        <br>
        <span id='logiAlates'></span>
      </div>
      <div class='vkj'>
        <div id='uuendaNupp' class='nupp inline' title='Uuenda'>
          <i class='ikoon material-icons'>autorenew</i>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailstatistika ala -->
  <div id='detailstatistikaala' class='peidetud'>
    <div id='detstatohje'>
      <label class='active'>
        Sisesta valikumuster (nt
        <code>2018-04</code>) :
        <input id='perioodiMusterOtsi' type='text' style='margin: 0 2rem;' autocomplete='off'>
      </label>
      <div id='sooritaNupp' class='nupp' title='Arvuta statistika'>
        <i class='ikoon material-icons'>search</i>
      </div>
    </div>

    <p id='AutentimisteArv'></p>
    <p id='Tulem'></p>
  </div>

  <!-- Kustuta ala -->
  <div id='kustutaala' class='peidetud'>
    <div id='kustutaohje'>
      <label class='active'>
        Sisesta valikumuster (nt
        <code>2018-04</code>) :
        <input id='perioodiMusterKustuta' type='text'
         style='margin: 0 2rem;' autocomplete='off'>
      </label>
      <div id='kustutaNupp' class='nupp' title='Kustuta logikirjeid'>
        <i class='ikoon material-icons'>delete_forever</i>
      </div>
    </div>

    <div id='kinnituseriba'>
      <div id='teade' class='viga inline'>
        Logikirjete kustutamist ei saa tagasi võtta.
        Kinnita, et tahad kustutada.</div>
  
      <div id='kinnitusNupp' class='nupp inline' title='Kinnita'>
        <i class='ikoon material-icons'>check_circle_outline</i>
      </div>
      <div id='tyhistusNupp' class='nupp inline' title='Tühista'>
        <i class='ikoon material-icons hoiatav'>clear</i>
      </div>
  
    </div>

  </div>

  <!-- Abi ala -->
  <div id='abiala' class='peidetud'>

    <p>
      Kasutusstatistika väljastatakse klientrakenduste, autentimismeetodite ja toimingu edukuse (alustatud, edukas, viga) lõikes.
    </p>

    <p>
      Otsingut saab piirata aasta, kuu, päeva või isegi väiksema ajaühikuga.
    </p>

    <p>Nt <code>2019</code> piirab otsingu 2019. a-ga, <code>2018-01</code> 2019. a jaanuariga jne.
    </p>

    <p>Logibaasist saab kirjeid kustutada. Selleks sisesta kustutatavat perioodi määrav muster.</p>

    <div id='sulgeAbiteaveNupp' class='nupp' title='Sulge abiteave'>
      <i class='ikoon material-icons'>clear</i>
    </div>
  </div>

</body>

</html>