<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <h1>TARA statistika</h1>

    <p>
      <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka teisest EL riigist tulnud kasutaja.</p>

    <p>Vaata statistikat:
      <a href='/stat'>
        <i class="ikoon material-icons">show_chart</i>
      </a>
    </p>

    <p><a href='https://github.com/e-gov/TARA-Stat'>Lähtekood</a>.
    </p>
 
    </body>

</html>