<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
    <script src='js/alusta.js'></script>
  </head>

  <body onload="alusta();">

    <h1>TARA statistika</h1>

    <p class='info'>Ühendus logibaasiga OK</p>

    <p>Kirjeid logibaasis: <span id='Kirjeid'>&nbsp;</span></p>

    <p>TARA-Stat näitab autentimiste arvu klientrakenduste ja 
      autentimismeetodite (sh pankade) ja toimingu edukuse 
      (alustatud, edukas, viga) lõikes.</p>

    <p>Otsingut saab piirata aasta, kuu, päeva või isegi 
      väiksema ajaühikuga. Nt <code>2018-08-21T17:14</code> 
      piirab otsingu 21.08.2018 17. tunni 14. minuti sees logitud 
      sündmustega.
    </p>  

    <div style='display: flex; justify-content: space-between; align-items: center;'>
      <label class='active'>
        Otsingumuster, nt
        <code>2018-04</code> (regex avaldis): 
        <input id='perioodiMuster' type='text' style='margin: 0 2rem;' autocomplete='off'>
      </label>
      <div id='sooritaNupp' class='nupp' title='Arvuta statistika'>
        <i class='ikoon material-icons'>search</i>
      </div>
    </div>

    <p id='Tulem'></p>

    <p style='margin-top: 2rem;'><a href='https://e-gov.github.io/TARA-Stat/Dokumentatsioon'>
      Tarkvara kasutusjuhend</a>
    </p>

  </body>

</html>