<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
    <script src='js/alusta.js'></script>
  </head>

  <body onload="alusta();">

    <h1>TARA statistika</h1>

    <p class='info'>Ühendus logibaasiga OK</p>

    <div style='display: flex; justify-content: space-between; align-items: center;'>
      <label class='active'>
        Periood, nt
        <code>2018-04</code> (regex avaldis): 
        <input id='perioodiMuster' type='text' style='margin: 0 2rem;' autocomplete='off'>
      </label>
      <div id='sooritaNupp' class='nupp' title='Arvuta statistika'>
        <i class='ikoon material-icons'>search</i>
      </div>
    </div>

    <p id='Tulem'></p>

  </body>

</html>