<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <h1>TARA statistika</h1>

    <p class='info'>Ühendus logibaasiga OK</p>

    <p>Logikirjed:</p>

    <p><%= JSON.stringify(kirjed) %></p>

    </body>

</html>